.home__container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .home-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 100px;
  }

  .home-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .nav-link {
    text-align: center;
    text-decoration: none;
  }

  .get-started-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }
}