/* Navbar - Cập nhật CSS với border cho các mục */
.navbar__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar {
  width: 20%;
  /* Đặt chiều rộng cố định cho navbar */
  background-color: #ffffff;
  /* Màu nền navbar */
  position: fixed;
  /* Giữ navbar cố định bên trái */
  height: 100vh;
  /* Chiều cao bằng chiều cao màn hình */
  top: 0;
  left: 0;
  /*căn trái các item*/
  display: flex;
  flex-direction: column;
  /* Căn chỉnh các item theo chiều dọc */
}

.navbar .logo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  color: #5D5D5D;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.navbar .btn:hover .sign {
  background-color: #03B151;
  width: 10px;
  height: 100%;
}

.navbar .btn.active .sign {
  background-color: #03B151;
  width: 10px;
  height: 100%;
}


.navbar .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  flex: 1;
  text-align: center;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  color: #5D5D5D;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.navbar .btn.active {
  color: #03B151;
  /* Màu nền khi active */
}

.navbar .btn:hover {
  background-color: #dddddd;
  color: #03B151;
  /* Màu nền khi hover */
}

/* CSS cho icon */
.navbar .btn svg {
  width: 20px;
  height: 20px;
  fill: #5D5D5D;
  /* Màu mặc định của icon */
  transition: transform 0.3s ease, fill 0.3s ease;
  /* Thêm hiệu ứng chuyển màu */
}

/* Đổi màu icon khi hover */
.navbar .btn:hover svg {
  fill: #03B151;
  /* Màu mới khi hover */
  transform: scale(1.2);
  /* Tăng kích thước icon khi hover */
}

.navbar .btn.active svg {
  fill: #03B151;
}