.grabhome__container {

  display: flex;
  justify-content: center;
  position: relative;
  background-color: #fff;
  width: 100%;

  .app-layout-root {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fff;
    width: 100%;
  }

  .grab-header-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: url(../../assets/images/layout-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .app-layout {
    width: 100%;
    max-width: 1288px;
    padding: 0 24px;
    z-index: 1;
  }

  .app-content {
    padding-bottom: 24px;
  }

  .app-content-page {
    display: flex;
    flex-direction: column;
  }

  .new-booking-page {
    flex: 1;
  }

  .header-1 {
    height: auto;
    padding-top: 24px;
    padding-bottom: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .grab-navbar__logo {
    display: flex;
    align-items: center;
    height: 30px;
  }

  .grab-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-left: 30px;
  }

  .grab-navbar .link-group {
    display: flex;
    gap: 32px;
  }

  .grab-navbar .link-group .grab-link,
  .user-info {
    text-decoration: none;
    font-size: 14px;
    color: #ffffffc4;
  }

  .header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
  }

  .header-2 .left-header-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
  }

  .left-header-2 h1 {
    font-size: 24px;
    color: #fff;
    padding: 0;
    margin: 0;
  }

  .left-header-2 .dropdown-gps {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  /* .left-header-2 .dropdown-gps .right-icon {
    transform: rotate(90deg);
  } */

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding: 0;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }

  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
  }

  .dropdown-item:hover {
    background-color: #03B151;
    color: white;
  }

  .right-header-2 {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 100%;
  }

  .right-header-2-item-group {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px
  }

  .right-header-2-item-group .icon {
    display: flex;
  }

  .right-header-2-item-group .text {
    color: #ffffffc4;
    font-size: 15.5px;
    font-weight: 500;
  }

  .header-3 {
    box-sizing: border-box;
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 98px;
    margin-top: 22px;
    background: #fff;
    box-shadow: 0 12px 20px rgba(26, 26, 26, .12);
    padding: 16px;
    border-radius: 8px;
  }

  .header-3-sender-slider-wrapper {
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
  }

  /* Hiệu ứng mờ 2 bên với ::before và ::after */
  .header-3-sender-slider::before,
  .header-3-sender-slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    /* Độ rộng vùng mờ */
    height: 100%;
    /* Cao bằng container */
    pointer-events: none;
    /* Để không chặn thao tác cuộn chuột */
    z-index: 1;
  }

  .header-3-sender-slider::before {
    left: 0;
    /* Xuất hiện bên trái container */
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  }

  .header-3-sender-slider::after {
    right: 0;
    /* Xuất hiện bên phải container */
    background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
  }

  .slider-btn {
    position: absolute;
    z-index: 20;
    /* Để nằm trên slider-container */
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .slider-btn-left {
    left: 0;
    margin-left: -15px;
    /* Căn bên trái */
  }

  .slider-btn-right {
    right: 0;
    margin-right: -15px;
    /* Căn bên phải */
  }

  .header-3-sender-slider {
    width: 100%;
  }

  .header-3-sender-slider-content {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    overflow-x: scroll;
    /* Có thể scroll ngang, nhưng scrollbar sẽ bị ẩn. */
    scroll-behavior: smooth;
    /* Kích hoạt cuộn ngang */
    overflow-y: hidden;
    /* Ẩn cuộn dọc nếu có */
    white-space: nowrap;
    /* Giữ các item trên cùng một dòng */
    /* Ẩn scrollbar trên Chrome, Safari, Edge */
    -webkit-overflow-scrolling: touch;
    /* Mượt hơn trên iOS */
  }

  .header-3-sender-slider-content::-webkit-scrollbar {
    display: none;
    /* Ẩn scrollbar trên trình duyệt WebKit */
  }

  /* Ẩn scrollbar trên Firefox */
  .header-3-sender-slider-content {
    scrollbar-width: none;
    /* Firefox: Không hiện scrollbar */
  }

  .header-3-sender-slider-item {
    display: flex;
    align-items: center;
    gap: 16px;
    /* background-color: var(--white-color-50); */
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--white-color-30);
  }

  .header-3-sender-slider-item:hover {
    background-color: var(--white-color-70);
  }

  .header-3-sender-slider-item-content {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .sender-name {
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color-100);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .header-3-sender-slider-item-text {
    color: var(--font-color-60);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
  }

  .header-3-sender-slider-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
  }

  .header-3-sender-slider-item-icon img {
    height: 38px;
    width: 100%;
  }

  .sender-info {
    color: var(--font-color-60);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }

  .header-4-title {
    padding-top: 60px;
    font-size: 18px;
    color: var(--font-color-100);
    font-weight: 600;
  }

  .re-order {
    color: var(--main-color-50);
    font-weight: 600;
  }

  .header-3-order-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .header-3-order-list-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* padding: 0px 24px; */
    /* margin: 0 -16px; */
  }

  .success {
    padding: 5px 10px;
    background-color: var(--main-color-30);
    border-radius: 8px;
    width: fit-content;
    color: var(--font-color-100);
  }

  .order-table {
    width: 100%;
    margin: 20px 0;
    border-radius: 6px;
    border: 1px solid var(--white-color-30);
    padding: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white-color-90);
  }

  tbody tr {
    cursor: pointer;
  }

  td {
    padding: 10px 10px 30px 10px;
    /* border: 1px solid #ddd; */
    border: none;
    text-align: left;
    color: var(--font-color-60);
  }

  th {
    border: none;
    text-align: left;
    color: var(--font-color-100);
    padding: 10px 10px 30px 10px;
  }

  /* Xóa viền của cột đầu tiên trong header */
  thead th:first-child {
    background-color: transparent;
  }

  tbody td:first-child {
    cursor: pointer;
  }

  .order-details {
    background-color: #f9f9f9;
    padding: 20px 10px;
    border: 1px solid var(--white-color-30);
    border-radius: 5px;
    margin: 0 10px;
  }


  input[type="checkbox"] {
    cursor: pointer;
  }

  .order-details-content {
    display: flex;
    gap: 10px;
  }



  .order-details-content-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100%/3);
  }

  .order-details-content-left-row {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 12px;
  }

  .order-details-content-left-row-icon {
    display: flex;
    justify-content: center;
    margin-top: -14px;
  }

  .dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
  }

  .order-details-content-left-row-text-group {
    box-sizing: border-box;
    width: calc(100% - 40px);
  }

  .order-details-content-left-row-text {
    font-weight: 600;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .order-details-content-left-row-text-sub {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .order-details-content-right-col-title {
    font-size: 14px;
    color: var(--font-color-60);
  }

  .order-details-content-right-col-value {
    color: var(--font-color-100);
    font-weight: 500;
    display: flex;
    gap: 10px;
  }

  .order-details-content-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }

  .order-details-content-right-row {
    display: flex;
    gap: 10px;
    flex: 1;
  }

  .order-details-content-right-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100%/3);
  }

  .order-details-content-right-row-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 1;
    border-top: 1px solid var(--white-color-70);
    margin-right: 10px;
  }

  .order-details-content-right-row-menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
  }

  .order-details-content-right-row-menu-btn {
    color: var(--blue-color-60);
    font-weight: 600;
  }

  .menu-divider {
    width: 1px;
    height: 14px;
    background-color: var(--white-color-70);
  }

  .header-5 {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  .header-5-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;

  }

  .header-5-top-bar-left {
    font-size: 18px;
    color: var(--font-color-100);
    font-weight: 600;
  }

  .header-5-top-bar-right {
    font-size: 14px;
    color: var(--main-color-50);
    font-weight: 600;
  }


  .send-location-col {
    display: flex;
    align-items: center;
    width: 25%;
    height: calc(100% - 32px);
    flex: 0 0 auto;
    float: left;
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  .send-location {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 66px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    align-items: center;
    background-color: var(--white-color-50);
  }

  .send-location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .send-location-text {
    flex: 1;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: var(--font-color-100);
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .swap-btn-col {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 4.16666667%;
    height: 100%;
    float: left;
    position: relative;
    background: var(--white-color-50);
    cursor: pointer;
  }

  .swap-btn {
    display: flex;
    justify-content: center;
    margin: .5rem;
    background: var(--white-color-50);
    cursor: pointer;
  }

  .receive-location-col {
    display: flex;
    align-items: center;
    width: 25%;
    height: calc(100% - 32px);
    flex: 0 0 auto;
    float: left;
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  .receive-location {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 66px;
    padding-right: 10px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    background-color: var(--white-color-50);
  }

  .receive-location-text {
    flex: 1;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: var(--font-color-100);
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .receive-location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .service-type-btn-col {
    display: block;
    box-sizing: border-box;
    width: 29.16666667%;
  }

  .service-type-btn {
    display: flex;
    align-items: center;
    margin-left: 8px;
    width: calc(100% - 16px);
    height: 100%;
    min-height: 66px;
    border-radius: 8px;
    background-color: var(--white-color-50);
  }

  .service-type-btn-content {
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
  }

  .service-type-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .service-type-icon img {
    width: 32px;
    height: 32px;
  }

  .service-type-text-group {
    margin-left: 10px;
    flex-grow: 1;
  }

  .service-type-text {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: var(--font-color-100);
  }

  .service-type-text-sub {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: var(--font-color-60);
  }

  .order-detail-btn-col {
    display: block;
    box-sizing: border-box;
    width: 16.66666667%;
  }

  .order-detail-btn {
    margin-left: 8px;
    width: calc(100% - 8px);
    height: 100%;
    border: none;
    padding-right: 24px;
    background: var(--main-color-100);
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    touch-action: manipulation;
    padding: 11px 12px 13px;
    font-size: 14px;
    border-radius: 6px;
    overflow: visible;
    margin: 0;
    text-decoration: none;
  }

  .order-detail-btn:hover {
    background-color: var(--main-color-80);
  }

  .order-detail-btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-detail-text-group {
    max-width: calc(100% - 16px);
    text-align: left;
    box-sizing: border-box;
  }


  .order-detail-text {
    font-size: 12px;
    color: #fff;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
  }

  .order-detail-text-sub {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .order-detail-text-sub span {
    text-decoration: underline;
  }

  .modal-1 {
    z-index: 1000;

    .modal-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .45);
      overflow: hidden;
      visibility: hidden;
      z-index: 1000;
      /* Ẩn modal ban đầu */
    }

    .modal-background.open-1 {
      visibility: visible;
    }

    .modal-container-col {
      position: fixed;
      top: 0;
      right: 0;
      width: 495px;
      height: 100%;
      box-shadow: -2px 0 8px rgba(0, 0, 0, .15);
      transform: translateX(100%);
      /* Trượt ra khỏi màn hình */
      transition: transform 0.3s ease-in-out;
      /* Animation trượt */
    }

    .modal-container-col.open-1 {
      transform: translateX(0);
      /* Trượt vào màn hình */
    }

    .modal-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;
    }

    .modal-header {
      padding: 32px 24px;
      display: flex;
      align-items: center;
    }

    .modal-header-content {
      display: flex;
    }

    .modal-header-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .modal-header-text {
      flex-grow: 1;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: var(--font-color-100);
      margin-left: 22px;
    }

    .modal-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .modal-body-content {
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
    }

    .modal-body-content-title {
      font-size: 18px;
      line-height: 24px;
      color: var(--font-color-60);
      margin-bottom: 16px;
      font-weight: 600;
    }

    .modal-body-content-btn-list {
      display: flex;
      flex-direction: column;
    }

    .modal-service-btn {
      display: flex;
      align-items: center;
      padding: 16px;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid var(--white-color-30);
      border-radius: 6px;
      cursor: pointer;
      transition: border-color .3s linear, background-color .3s linear, font-weight .3s linear;
    }

    .modal-service-btn-content {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

    }

    .modal-service-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-service-icon img {
      height: 32px;
      width: 32px;
    }

    .modal-service-text-group {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      flex-grow: 1;
      box-sizing: border-box;
    }

    .modal-service-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
    }

    .modal-service-text-right span {
      text-decoration: underline;
    }

    .modal-service-text-sub {
      color: var(--font-color-60);
    }

    .modal-footer {
      margin-top: auto;
      padding: 16px 24px 24px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 8px 0 #CCD6DD80;
      z-index: 2;
    }

    .modal-submit-btn {
      height: 56px;
      width: 100%;
      font-weight: 500;
      color: #fff;
      background-color: var(--main-color-100);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    .modal-submit-btn:hover {
      background-color: var(--main-color-80);
    }
  }

  .modal-2 {
    z-index: 1000;

    .modal-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .45);
      overflow: hidden;
      visibility: hidden;
      z-index: 1000;
      /* Ẩn modal ban đầu */
    }

    .modal-background.open-2 {
      visibility: visible;
    }

    .modal-container-col {
      position: fixed;
      top: 0;
      right: 0;
      width: 495px;
      height: 100%;
      box-shadow: -2px 0 8px rgba(0, 0, 0, .15);
      transform: translateX(100%);
      /* Trượt ra khỏi màn hình */
      transition: transform 0.3s ease-in-out;
      /* Animation trượt */
    }

    .modal-container-col.open-2 {
      transform: translateX(0);
      /* Trượt vào màn hình */
    }

    .modal-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;
    }

    .modal-header {
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .modal-header-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 24px;
      left: 24px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
      padding: 8px;
      border-radius: 4px;
    }

    .modal-header-adjust {
      position: absolute;
      background-color: #fff;
      top: 24px;
      right: 24px;
      width: 32px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      padding: 8px;
    }

    .adjust-container-top,
    .adjust-container-bot {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #fff;
      border-radius: 5px;
      height: 16px;
    }

    .divider {
      width: 32px;
      height: 1px;
      background-color: var(--white-color-30);
      margin-top: 8px;
      margin-bottom: 6px;
    }

    .modal-header-map {
      border-radius: 6px;
      padding: 10px;
      box-sizing: border-box;

    }

    .modal-header-map img {
      height: 400px;
      border-radius: 6px;
      box-sizing: border-box;
      width: 100%;
      object-fit: cover;
      border: 1px solid #ccc;
    }

    .modal-header-content {
      display: flex;
    }

    .modal-header-text {
      flex-grow: 1;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: var(--font-color-100);
      margin-left: 22px;
    }

    .modal-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .modal-body-content {
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 24px;
      padding-bottom: 12px;

    }

    .send-location-modal {
      display: flex;
      cursor: pointer;
      width: 100%;
      height: 64px;
      padding-right: 10px;
      border-radius: 8px;
      align-items: center;
      border: 1px solid #ccc;
    }

    .send-location-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      margin-left: 10px;
    }

    .send-location-text {
      flex: 1;
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: var(--font-color-100);
      font-weight: 600;
      margin-block-start: 2.33em;
      margin-block-end: 2.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      box-sizing: border-box;
    }

    .dropdown-list-sender {
      position: absolute;
      top: 500px;
      left: 24px;
      width: 447px;
      max-height: 280px;
      overflow-y: auto;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      /* border: 1px solid #ccc; */
      border-radius: 5px;

      scrollbar-width: thin;
      scrollbar-color: var(--font-color-60) var(--white-color-30);
    }

    .dropdown-content-sender {
      display: flex;
      flex-direction: column;
    }

    .address-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px 10px;
      border-bottom: 1px solid var(--white-color-30);
      cursor: pointer;
      justify-content: space-between;
      box-sizing: border-box;
    }

    .address-item-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .address-item-text-group {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-item-name {
      font-weight: bold;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-item-address {
      font-size: 14px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-save-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .modal-footer {
      margin-top: auto;
      padding: 16px 24px 24px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 8px 0 #CCD6DD80;
      z-index: 2;
    }

    .modal-submit-btn {
      height: 56px;
      width: 100%;
      font-weight: 500;
      color: #fff;
      background-color: var(--main-color-100);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    .modal-submit-btn:hover {
      background-color: var(--main-color-80);
    }
  }

  .modal-3 {
    z-index: 1000;

    .modal-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .45);
      overflow: hidden;
      visibility: hidden;
      z-index: 1000;
      /* Ẩn modal ban đầu */
    }

    .modal-background.open-3 {
      visibility: visible;
    }

    .modal-container-col {
      position: fixed;
      top: 0;
      right: 0;
      width: 495px;
      height: 100%;
      box-shadow: -2px 0 8px rgba(0, 0, 0, .15);
      transform: translateX(100%);
      /* Trượt ra khỏi màn hình */
      transition: transform 0.3s ease-in-out;
      /* Animation trượt */
    }

    .modal-container-col.open-3 {
      transform: translateX(0);
      /* Trượt vào màn hình */
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;
    }

    .modal-header {
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .modal-header-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 24px;
      left: 24px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
      padding: 8px;
      border-radius: 4px;
    }

    .modal-header-adjust {
      position: absolute;
      background-color: #fff;
      top: 24px;
      right: 24px;
      width: 32px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      padding: 8px;
    }

    .adjust-container-top,
    .adjust-container-bot {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #fff;
      border-radius: 5px;
      height: 16px;
    }

    .divider {
      width: 32px;
      height: 1px;
      background-color: var(--white-color-30);
      margin-top: 8px;
      margin-bottom: 6px;
    }

    .modal-header-map {
      border-radius: 6px;
      padding: 10px;
      box-sizing: border-box;
    }

    .modal-header-map img {
      height: 400px;
      border-radius: 6px;
      box-sizing: border-box;
      width: 100%;
      object-fit: cover;
      border: 1px solid #ccc;
    }

    .modal-header-content {
      display: flex;
    }

    .modal-header-text {
      flex-grow: 1;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: var(--font-color-100);
      margin-left: 22px;
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow-y: auto;
      /* height: calc(100vh - 200px); */
      margin-top: 24px;
      scrollbar-width: thin;
      scrollbar-color: var(--font-color-60) var(--white-color-30);

    }

    .modal-body-content {
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 12px;
      box-sizing: border-box;
    }

    .receive-location-modal {
      display: flex;
      cursor: pointer;
      width: 100%;
      height: 64px;
      padding-right: 10px;
      border-radius: 8px;
      align-items: center;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    .receive-location-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      margin-left: 10px;
    }

    .receive-location-text {
      flex: 1;
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: var(--font-color-100);
      font-weight: 600;
      margin-block-start: 2.33em;
      margin-block-end: 2.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      box-sizing: border-box;
    }

    .add-location {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0px 10px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 10px;
      color: var(--font-color-60);
      font-weight: 600;
    }


    .dropdown-list-receiver {
      position: absolute;
      left: 24px;
      width: 447px;
      max-height: 238px;
      overflow-y: auto;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      scrollbar-width: thin;
      scrollbar-color: var(--font-color-60) var(--white-color-30);
    }

    .dropdown-content-receiver {
      display: flex;
      flex-direction: column;
    }

    .address-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px 10px;
      border-bottom: 1px solid var(--white-color-30);
      cursor: pointer;
      justify-content: space-between;
      box-sizing: border-box;
    }

    .address-item-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .address-item-text-group {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-item-name {
      font-weight: bold;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-item-address {
      font-size: 14px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-save-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .modal-footer {
      margin-top: auto;
      padding: 16px 24px 24px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 8px 0 #CCD6DD80;
      z-index: 2;
    }

    .modal-submit-btn {
      height: 56px;
      width: 100%;
      font-weight: 500;
      color: #fff;
      background-color: var(--main-color-100);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    .modal-submit-btn:hover {
      background-color: var(--main-color-80);
    }
  }

}