.grabhome__container {

  padding: 0 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  .grab-header-group {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 300px;
    padding: 0 100px;
    background: url(../../assets/images/layout-background.png);
    background-size: cover;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    color: #fff;

  }

  .header-1 {
    display: flex;
    width: 80%;
    justify-content: space-between;
    gap: 56px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 54px;
  }

  .grab-navbar__logo {
    display: flex;
    align-items: center;
    height: 30px;
  }

  .grab-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
  }

  .grab-navbar .link-group {
    display: flex;
    gap: 32px;
  }

  .grab-navbar .link-group .grab-link,
  .user-info {
    text-decoration: none;
    font-size: 14px;
    color: #ffffffc4;
  }

  .header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 36px;
    box-sizing: border-box;
  }

  .header-2 .left-header-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
  }

  .left-header-2 h1 {
    font-size: 24px;
    padding: 0;
    margin: 0;
  }

  .left-header-2 .dropdown-gps {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .left-header-2 .dropdown-gps .right-icon {
    transform: rotate(90deg);
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding: 0;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }

  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
  }

  .dropdown-item:hover {
    background-color: #03B151;
    color: white;
  }

  .right-header-2 {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 100%;
  }

  .right-header-2-item-group {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px
  }

  .right-header-2-item-group .icon {
    display: flex;
  }

  .right-header-2-item-group .text {
    color: #ffffffc4;
    font-size: 15.5px;
    font-weight: 500;
  }

  .header-3 {
    box-sizing: border-box;
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 98px;
    margin-top: 22px;
    background: #fff;
    box-shadow: 0 12px 20px rgba(26, 26, 26, .12);
    padding: 16px;
    border-radius: 8px;
  }

  .send-location-col {
    display: flex;
    align-items: center;
    width: 25%;
    height: calc(100% - 32px);
    flex: 0 0 auto;
    float: left;
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  .send-location {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 66px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    align-items: center;
    background-color: var(--white-color-50);
  }

  .send-location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .send-location-text {
    flex: 1;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: var(--font-color-100);
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .swap-btn-col {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 4.16666667%;
    height: 100%;
    float: left;
    position: relative;
    background: var(--white-color-50);
    cursor: pointer;
  }

  .swap-btn {
    display: flex;
    justify-content: center;
    margin: .5rem;
    background: var(--white-color-50);
    cursor: pointer;
  }

  .receive-location-col {
    display: flex;
    align-items: center;
    width: 25%;
    height: calc(100% - 32px);
    flex: 0 0 auto;
    float: left;
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  .receive-location {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 66px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    background-color: var(--white-color-50);
  }

  .receive-location-text {
    flex: 1;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: var(--font-color-100);
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .receive-location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .service-type-btn-col {
    display: block;
    box-sizing: border-box;
    width: 29.16666667%;
  }

  .service-type-btn {
    display: flex;
    align-items: center;
    margin-left: 8px;
    width: calc(100% - 16px);
    height: 100%;
    min-height: 66px;
    border-radius: 8px;
    background-color: var(--white-color-50);
  }

  .service-type-btn-content {
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
  }

  .service-type-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .service-type-icon img {
    width: 32px;
    height: 32px;
  }

  .service-type-text-group {
    margin-left: 10px;
    flex-grow: 1;
  }

  .service-type-text {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: var(--font-color-100);
  }

  .service-type-text-sub {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: var(--font-color-60);
  }

  .order-detail-btn-col {
    display: block;
    box-sizing: border-box;
    width: 16.66666667%;
  }

  .order-detail-btn {
    margin-left: 8px;
    width: calc(100% - 8px);
    height: 100%;
    border: none;
    padding-right: 24px;
    background: var(--main-color-100);
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    touch-action: manipulation;
    padding: 11px 12px 13px;
    font-size: 14px;
    border-radius: 6px;
    overflow: visible;
    margin: 0;
  }

  .order-detail-btn:hover {
    background-color: var(--secondary-color-100);
  }

  .order-detail-btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-detail-text-group {
    max-width: calc(100% - 16px);
    text-align: left;
    box-sizing: border-box;
  }


  .order-detail-text {
    font-size: 12px;
    color: #fff;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
  }

  .order-detail-text-sub {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .order-detail-text-sub span {
    text-decoration: underline;
  }

  .modal-1 {
    .modal-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .45);
      overflow: hidden;
      visibility: hidden;
      /* Ẩn modal ban đầu */
    }

    .modal-background.open-1 {
      visibility: visible;
    }

    .modal-container-col {
      position: fixed;
      top: 0;
      right: 0;
      width: 495px;
      height: 100%;
      box-shadow: -2px 0 8px rgba(0, 0, 0, .15);
      transform: translateX(100%);
      /* Trượt ra khỏi màn hình */
      transition: transform 0.3s ease-in-out;
      /* Animation trượt */
    }

    .modal-container-col.open-1 {
      transform: translateX(0);
      /* Trượt vào màn hình */
    }

    .modal-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;
    }

    .modal-header {
      padding: 32px 24px;
      display: flex;
      align-items: center;
    }

    .modal-header-content {
      display: flex;
    }

    .modal-header-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .modal-header-text {
      flex-grow: 1;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: var(--font-color-100);
      margin-left: 22px;
    }

    .modal-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .modal-body-content {
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
    }

    .modal-body-content-title {
      font-size: 18px;
      line-height: 24px;
      color: var(--font-color-60);
      margin-bottom: 16px;
      font-weight: 600;
    }

    .modal-body-content-btn-list {
      display: flex;
      flex-direction: column;
    }

    .modal-service-btn {
      display: flex;
      align-items: center;
      padding: 16px;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid var(--white-color-30);
      border-radius: 6px;
      cursor: pointer;
      transition: border-color .3s linear, background-color .3s linear, font-weight .3s linear;
    }

    .modal-service-btn-content {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

    }

    .modal-service-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-service-icon img {
      height: 32px;
      width: 32px;
    }

    .modal-service-text-group {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      flex-grow: 1;
      box-sizing: border-box;
    }

    .modal-service-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
    }

    .modal-service-text-right span {
      text-decoration: underline;
    }

    .modal-service-text-sub {
      color: var(--font-color-60);
    }

    .modal-footer {
      margin-top: auto;
      padding: 16px 24px 24px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 8px 0 #CCD6DD80;
      z-index: 2;
    }

    .modal-submit-btn {
      height: 56px;
      width: 100%;
      font-weight: 500;
      color: #fff;
      background-color: var(--main-color-100);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    .modal-submit-btn:hover {
      background-color: var(--secondary-color-100);
    }
  }

  .modal-2 {

    .modal-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .45);
      overflow: hidden;
      visibility: hidden;
      /* Ẩn modal ban đầu */
    }

    .modal-background.open-2 {
      visibility: visible;
    }

    .modal-container-col {
      position: fixed;
      top: 0;
      right: 0;
      width: 495px;
      height: 100%;
      box-shadow: -2px 0 8px rgba(0, 0, 0, .15);
      transform: translateX(100%);
      /* Trượt ra khỏi màn hình */
      transition: transform 0.3s ease-in-out;
      /* Animation trượt */
    }

    .modal-container-col.open-2 {
      transform: translateX(0);
      /* Trượt vào màn hình */
    }

    .modal-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;
    }

    .modal-header {
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .modal-header-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 24px;
      left: 24px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
      padding: 8px;
      border-radius: 4px;
    }

    .modal-header-adjust {
      position: absolute;
      background-color: #fff;
      top: 24px;
      right: 24px;
      width: 32px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      padding: 8px;
    }

    .adjust-container-top,
    .adjust-container-bot {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #fff;
      border-radius: 5px;
      height: 16px;
    }

    .divider {
      width: 32px;
      height: 1px;
      background-color: var(--white-color-30);
      margin-top: 8px;
      margin-bottom: 6px;
    }

    .modal-header-map img {
      height: 400px;
      box-sizing: border-box;
    }

    .modal-header-content {
      display: flex;
    }

    .modal-header-text {
      flex-grow: 1;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: var(--font-color-100);
      margin-left: 22px;
    }

    .modal-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .modal-body-content {
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 24px;
      padding-bottom: 12px;

    }

    .send-location-modal {
      display: flex;
      cursor: pointer;
      width: 100%;
      height: 64px;
      padding-right: 10px;
      border-radius: 8px;
      align-items: center;
      background-color: var(--white-color-50);
    }

    .send-location-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      margin-left: 10px;
    }

    .send-location-text {
      flex: 1;
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: var(--font-color-100);
      font-weight: 600;
      margin-block-start: 2.33em;
      margin-block-end: 2.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      box-sizing: border-box;
    }

    .dropdown-list-sender {
      position: absolute;
      top: 500px;
      left: 24px;
      width: 447px;
      max-height: 280px;
      overflow-y: auto;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      /* border: 1px solid #ccc; */
      border-radius: 5px;

      scrollbar-width: thin;
      scrollbar-color: var(--font-color-60) var(--white-color-30);
    }

    .dropdown-content-sender {
      display: flex;
      flex-direction: column;
    }

    .address-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px 10px;
      border-bottom: 1px solid var(--white-color-30);
      cursor: pointer;
      justify-content: space-between;
      box-sizing: border-box;
    }

    .address-item-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .address-item-text-group {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-item-name {
      font-weight: bold;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-item-address {
      font-size: 14px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-save-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .modal-footer {
      margin-top: auto;
      padding: 16px 24px 24px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 8px 0 #CCD6DD80;
      z-index: 2;
    }

    .modal-submit-btn {
      height: 56px;
      width: 100%;
      font-weight: 500;
      color: #fff;
      background-color: var(--main-color-100);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    .modal-submit-btn:hover {
      background-color: var(--secondary-color-100);
    }
  }

  .modal-3 {

    .modal-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .45);
      overflow: hidden;
      visibility: hidden;
      /* Ẩn modal ban đầu */
    }

    .modal-background.open-3 {
      visibility: visible;
    }

    .modal-container-col {
      position: fixed;
      top: 0;
      right: 0;
      width: 495px;
      height: 100%;
      box-shadow: -2px 0 8px rgba(0, 0, 0, .15);
      transform: translateX(100%);
      /* Trượt ra khỏi màn hình */
      transition: transform 0.3s ease-in-out;
      /* Animation trượt */
    }

    .modal-container-col.open-3 {
      transform: translateX(0);
      /* Trượt vào màn hình */
    }

    .modal-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;
    }

    .modal-header {
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .modal-header-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 24px;
      left: 24px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
      padding: 8px;
      border-radius: 4px;
    }

    .modal-header-adjust {
      position: absolute;
      background-color: #fff;
      top: 24px;
      right: 24px;
      width: 32px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      padding: 8px;
    }

    .adjust-container-top,
    .adjust-container-bot {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #fff;
      border-radius: 5px;
      height: 16px;
    }

    .divider {
      width: 32px;
      height: 1px;
      background-color: var(--white-color-30);
      margin-top: 8px;
      margin-bottom: 6px;
    }

    .modal-header-map img {
      height: 400px;
      box-sizing: border-box;
    }

    .modal-header-content {
      display: flex;
    }

    .modal-header-text {
      flex-grow: 1;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: var(--font-color-100);
      margin-left: 22px;
    }

    .modal-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .modal-body-content {
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 24px;
      padding-bottom: 12px;

    }

    .receive-location-modal {
      display: flex;
      cursor: pointer;
      width: 100%;
      height: 64px;
      padding-right: 10px;
      border-radius: 8px;
      align-items: center;
      background-color: var(--white-color-50);
    }

    .receive-location-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      margin-left: 10px;
    }

    .receive-location-text {
      flex: 1;
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: var(--font-color-100);
      font-weight: 600;
      margin-block-start: 2.33em;
      margin-block-end: 2.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      box-sizing: border-box;
    }

    .dropdown-list-receiver {
      position: absolute;
      top: 500px;
      left: 24px;
      width: 447px;
      max-height: 280px;
      overflow-y: auto;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      /* border: 1px solid #ccc; */
      border-radius: 5px;

      scrollbar-width: thin;
      scrollbar-color: var(--font-color-60) var(--white-color-30);
    }

    .dropdown-content-receiver {
      display: flex;
      flex-direction: column;
    }

    .address-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px 10px;
      border-bottom: 1px solid var(--white-color-30);
      cursor: pointer;
      justify-content: space-between;
      box-sizing: border-box;
    }

    .address-item-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .address-item-text-group {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-item-name {
      font-weight: bold;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-item-address {
      font-size: 14px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address-save-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .modal-footer {
      margin-top: auto;
      padding: 16px 24px 24px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 8px 0 #CCD6DD80;
      z-index: 2;
    }

    .modal-submit-btn {
      height: 56px;
      width: 100%;
      font-weight: 500;
      color: #fff;
      background-color: var(--main-color-100);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    .modal-submit-btn:hover {
      background-color: var(--secondary-color-100);
    }
  }

}