/* Container Styles */

.create-order__container {

  .create-order-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px 20px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .content-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
  }

  .part {
    width: 40%;
  }

  /* Titles */
  .create-order-title {
    font-size: 28px;
    color: #202020;
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 20px;
    font-weight: bold;
    color: #202020;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px 12px 15px;
  }

  /* Forms */
  .create-order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
  }

  .form-group {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #5D5D5D;
  }

  .form-input,
  .form-textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .form-input:focus,
  .form-textarea:focus {
    border-color: #03B151;
    transition: 0.3s;
    outline: none;
  }

  .form-textarea {
    height: 80px;
    resize: none;
  }

  /* Buttons */
  .submit-button {
    padding: 10px 20px;
    background-color: #03B151;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #02a14a;
  }

  /* Order Section */
  .order-section {
    background-color: #fff;
    padding: 0px 15px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
    margin-bottom: 20px;
  }

  .red-star {
    color: red;
  }
}