/* Bố cục tổng thể */
.app-container {
  display: flex;
  height: 100vh;
}

/* Content */
.content {
  position: absolute;
  margin-top: 60px;
  font-family: "Quicksand", sans-serif;
  right: 0;
  /* Đẩy nội dung ra khỏi navbar */
  width: 80%;
  /* Phần còn lại của màn hình */
  box-sizing: border-box;
  overflow-x: hidden;
}